* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav li {
    margin: 0 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

#song-search-form {
    margin-bottom: 1rem;
}

#search-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.song {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 300px;
}

.song h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.song p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.buy-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;
    
}


